<nav style="background:#333;padding:1em;">
    <ul>
        <li><a href="/" style="color:white;text-decoration:none">Home</a></li>
        <li><a href="/movies" style="color:white;text-decoration:none">All Movies</a></li>
        <li><a href="/search" style="color:white;text-decoration:none">Search</a></li>
        <li><a href="/add" style="color:white;text-decoration:none">Add movie</a></li>
    </ul>
</nav>

<hr>