<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= period %> Dinosaurs</title>
</head>
<body>
  <h1>Dinosaurs from the <%= period %> Period</h1>
  <ul>
    <% dinosaurs.forEach(function(dino) { %>
      <li><%= dino %></li>
    <% }); %>
  </ul>
  <p><a href="/periods">← Back to all periods</a></p>
</body>
</html>
