<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Geological Periods</title>
</head>
<body>
  <h1>Select a Geological Period</h1>
  <ul>
    <% periods.forEach(function(p) { %>
      <li>
        <a href="/periods/<%= p %>"><%= p %></a>
      </li>
    <% }); %>
  </ul>
</body>
</html>
