<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Calculate your Age</title>
    </head>
    <body>
        <h1>Enter your Age:</h1>
        <form action ='/age' method="POST">
            <label for="dob"> Date of Birth:</label>
            <input 
            type="date"
            id="dob"
            name="dateOfBirth"
            required
            >
            <button type="submit">Calculate Age</button>
        </form>
    </body>
</html>