<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Your Age</title>
    </head>
    <body>
        <h1>Age Calculator Result</h1>
        <p>You were born on <strong><%= dob %></strong></p>
        <p>Your age is <strong><%=age %></strong> years.</p>\
        <a href="/age">Try another date</a>
    </body>

</html>
