<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1><%= message %></h1>
    <p>Edit this template and reload the page to see your changes.</p>
  </body>
</html>
