<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><title>Add Movie</title></head>
<body>
  <%- include('../partials/menu') %>

  <h1>Add a New Movie</h1>
  <form action="/movies" method="POST" style="max-width:400px;margin:1em auto;">
    <label>Title:
      <input type="text"     name="title"        required>
    </label>
    <label>Director:
      <input type="text"     name="director"     required>
    </label>
    <label>Genre:
      <input type="text"     name="genre"        required>
    </label>
    <label>IMDb Rating:
      <input type="number"   name="imdb_rating"  step="0.1" min="0" max="10" required>
    </label>
    <label>Release Year:
      <input type="number"   name="release_year" min="1900" max="2099" required>
    </label>
    <button type="submit">Add Movie</button>
  </form>
</body>
</html>
