<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Student Details</title>
    </head>
    <body>
        <h1>Student Details</h1>
        <ul>
            <li><strong>Fullname: </strong> <%= fullname %></li>
            <li><strong>Major:</strong> <%= major %></li>
            <li>
                <strong>Grades:</strong><br>
                <ul>
                    <% grades.forEach(function(grade) { %>
                        <li><%= grade %> </li>
                    <% }); %>
                </ul>
            </li>
        </ul>
    </body>
</html>